@import '~scss/typography';

:host {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

p {
  padding: 0 50px 0;
  line-height: 1.5;

  + p {
    padding: 30px 50px 20px;
  }
}

.testimonial {
  @include testimonial;
  text-align: center;
  max-width: 740px;
  margin: 30px auto;
  margin-bottom: 60px;
}

h2 {
  width: 100%;
  font: 700 1.618em/1 system-ui;
}

img {
  width: 100%;
  border-radius: 3px;
  max-width: 100%;
  margin-bottom: -60px;
  z-index: 50;
  position: relative;
}

// span {
//   background: rgb(245, 240, 238);
//   box-shadow: 0 10px 20px -9px rgba(black, 0.25);
//   transition: 120ms ease-in-out;
//   cursor: pointer;
//   padding: 30px;
//   margin: 20px 20px 0;
//   float: left;
//   border-radius: 5px;
//   width: 40%;
// }

.link {
  //background: red;
  padding: 10px 50px;
  border: 1px solid rgba(#000, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 320px;
  background: rgba(#FFF, 1);
  cursor: pointer;
  transition: 170ms;
  font-weight: 700;
  display: flex;
  align-items: center;
  z-index: 100;
    position: relative;

  @media screen and (min-width: 640px) {
    max-width: 400px;
  }

    &:hover {
      transform: scale(1.0334) rotate(0.67deg);
    }

    svg {
      width: 40px;
      display: block;
      transform: translateY(3px);
    }

   span {
    display: block;
    padding: 0 3px;
    transform: translateY(-1.5px);
   }
}
