:host {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

p {
  padding: 50px;
}

h2 {
  margin-bottom: 20px;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.email,
.phone {
  color: rgb(60, 196, 139);

  &.method .wait {
    font: 400 0.809em/1 system-ui;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 0;

    .num {
      font: 800 2.618em/1 system-ui;
    }
  }
}

.pigeon {
  color: rgb(236, 197, 63);
  &.method .wait {
    font: 400 0.809em/1 system-ui;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 0;

    .num {
      font: 800 2.618em/1 system-ui;
    }
  }
}

.bottle {
  color: rgb(212, 57, 22);
  &.method .wait {
    font: 700 0.5em/1 system-ui;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
    padding: 5px 0;
  }
}

.method {
  background: rgb(250, 244, 242);
  box-shadow: 0 10px 20px -9px rgba(black, 0.25);
  transition: 120ms ease-in-out;
  cursor: pointer;
  padding: 30px;
  margin: 20px 20px 0;
  float: left;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  width: calc(50% - 40px);
  min-width: 300px;
  min-height: 235px;

  &:hover {
    transform: scale(1.0334) rotate(0.33deg);
  }

  .icon {
    width: 50px;
    //height: 50px;
    //background: black;
    //border-radius: 50%;
    display: block;
    margin: 0 auto;

    + span {
      font: 800 0.809em/1 system-ui;
      font-weight: 800;
      letter-spacing: 0px;
      color: rgba(#000, 0.75);
    }
  }


  .endpoint {
    color: rgba(#000, 0.5);
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 0.23px;
  }

  .time {
    font: 800 0.382em/1 system-ui;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(black, 0.2);
    margin: 30px 0 0px;
    padding: 0 0 8px;
    border-bottom: 1px dashed rgba(black, 0.1);
  }

  .wait {
    font: 800 0.5em/1 system-ui;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 5px 0;

    .num {
      font: 800 2.618em/1 system-ui;
      display: inline;
    }
  }

  span {
    display: block;
  }
}
