<h2>Lets's practice! Please feel free to contact me via email or phone.</h2>

<div class="methods">
  <div class="method">
    <div class="icon"></div>
    <span>hollymledbetter@gmail.com</span>
    <span class="wait">24 hours</span>
  </div>
  <div class="method">
    <div class="icon"></div>
    <span>1-425-301-7015</span>
    <span class="wait">24 hours</span>
  </div>
  <div class="method">
    <div class="icon"></div>
    <span>carrier pigeon</span>
    <span class="instructions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis.</span>
    <span class="wait">24 days</span>
  </div>
  <div class="method">
    <div class="icon"></div>
    <span>message in bottle</span>
    <span class="wait">Atlantic, Pacific: 3 years</span>
    <span class="wait">Indian: 5 years</span>
    <span class="wait">Arctic: 8 years</span>
    <span class="wait">Antarctic: 13 years</span>
  </div>

</div>
