.landing {
  //max-width: 720px;
  //margin: 0 auto 0;
  padding: 50px;
  position: relative;
  z-index: 100;
  text-align: left;
  background: rgb(244, 239, 233);
  width: 100%;
  //min-height: 100vh;
  text-align: center;

  svg {
    //fill: rgba(255, 246, 0, 1);
    width: 60px;
    height: 50px;
    margin-bottom: 0.618em;
    overflow: visible;
    transition: 1s;
    stroke: #000;
    fill: none;
    stroke-width: 70;
  }

.logo{
    width: 140px;
    padding: 20px;
    border-radius: 50%;
    transition: 210ms;
    border: 1px solid rgba(#FFF, 0);
    cursor: pointer;

    &:hover {
      background: rgba(#FFF, 0.2);
      border: 1px solid rgba(#FFF, 0.667);
      transform: scale(1.0334) rotate(3deg) translateY(-2px);
    }
  }

  h1 {
    font: 700 1.618em/1.334 system-ui;
    margin-bottom: 0.618em;
    //color: rgb(144, 91, 159);
    color: rgba(black, 0.667);
    max-width: 800px;
    margin: 0.618em auto;
  }
}

footer {
  padding: 10px 30px;

  > div {
    max-width: 600px;
    margin: 80px auto 50px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    cursor: pointer;
  }

  a {
    min-width: 50%;
    display: block;
    padding: 10px 5px;
    font: 600 1em/1em system-ui;
    margin-bottom: 0.618em;
    border-bottom: 3px inset rgba(#000, 0);
    cursor: pointer;
    transition: 80ms;

    &:hover {
      border-bottom: 3px inset rgba(#000, 0.334);
    }
  }

  a:visited {
    color: #000;
  }
}
