<div class="landing">
  <!-- <img src="/assets/holly.jpg" alt="" class="headshot"> -->
  <!-- <img src="" alt="" class="headshot"> -->
  <img routerLink="/" src="/assets/logo.png" alt="" class="logo">
  <!-- <svg viewBox="0 0 500 500">
    <polygon points="300,0 0,500 600,500" class="triangle" />
  </svg> -->
  <!-- <h1 routerLink="/">Lorem ipsum dolor sit amet, consectetur.</h1> -->

  <navigation></navigation>
</div>

<router-outlet></router-outlet>

<footer>
  <svg viewBox="0 0 1000 100">
    <style type="text/css">.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}</style>
    <path class="st0" d="M-7,73.3c0,0,134-40.7,245.3-15.5c174,39.4,280,38.2,434.7-29.7c157.7-69.2,351,28.8,351,28.8"/>
  </svg>

  <app-quotes></app-quotes>

  <div>
    <a routerLink="/bio">bio.</a>
    <a routerLink="/schedule">schedule.</a>
    <a routerLink="/private">private.</a>
    <a routerLink="/contact">contact.</a>
    <a routerLink="/resources">resources.</a>
  </div>
</footer>

<div class="instagram">
  <a href="https://instagram.com/p/Bf_KvH8lgxT/"
    target="_blank">
    <img src="https://instagram.com/p/Bf_KvH8lgxT/media/?size=l"
      alt="">
  </a>
  <a href="https://instagram.com/p/Bf_KvH8lgxT/"
    target="_blank">
    <img src="https://instagram.com/p/Bf_KvH8lgxT/media/?size=l"
      alt="">
  </a>
  <a href="https://instagram.com/p/Bf_KvH8lgxT/"
    target="_blank">
    <img src="https://instagram.com/p/Bf_KvH8lgxT/media/?size=l"
      alt="">
  </a>
  <a href="https://instagram.com/p/Bf_KvH8lgxT/"
    target="_blank">
    <img src="https://instagram.com/p/Bf_KvH8lgxT/media/?size=l"
      alt="">
  </a>
  <a href="https://instagram.com/p/Bf_KvH8lgxT/"
    target="_blank">
    <img src="https://instagram.com/p/Bf_KvH8lgxT/media/?size=l"
      alt="">
  </a>
</div>
