<div class="day">
  <h2>Thursdays</h2>
  <time>10:00am - 11:30am</time>
  <div class="location">Steps on Broadway</div>
  <span class="cost">$20</span>
  <span class="description">his class is open to all practitioners. See Steps on Broadway website for payment information and class packages.</span>
</div>

<div class="day">
  <h2>Saturdays</h2>
  <time>8:30am - 9:30am</time>
  <div class="location">Church on the Hill</div>
  <span class="cost">Free of cost.</span>
  <span class="description">Yoga in the Yard at Church on the Hill. This class is outdoors and will be cancelled in the case of rain. This class is open to all practitioners. No sign up necessary.</span>
</div>
