<div class="day">
  <h2>Tuesday</h2>
  <time>7:15pm - 8:30pm</time>
  <div class="level">Open to All</div>
  <div class="price">$9999.99</div>

  <div class="location">Physical Equalibrium</div>
  <span class="description">This 75 minute flow and restore class is open to all! Join me after your workday to unwind and rejuvenate. Please see the Physical Equilibrium website for payment details.</span>

  <br><br><a href="https://clients.mindbodyonline.com/classic/mainclass?studioid=18003">link &raquo;</a>
</div>

<div class="day">
  <h2>Tuesday</h2>
  <time>12:00pm - 1:15pm</time>
  <div class="level">Open to All</div>
  <div class="price">$9999.99</div>

  <div class="location">Physical Equalibrium</div>
  <span class="description">This 75 minute flow and restore class is open to all! Join me after your workday to unwind and rejuvenate. Please see the Physical Equilibrium website for payment details.</span>

  <br><br><a href="https://clients.mindbodyonline.com/classic/mainclass?studioid=18003">link &raquo;</a>
</div>

<div class="day">
  <h2>Wednesday</h2>
  <time>7:30pm - 8:30pm</time>
  <div class="level">Open to All</div>
  <div class="price">Free</div>

  <div class="location">Church on the Hill</div>
  <span class="description">Free yoga for all shapes, sizes, ages, and skill levels. A limited number of mats will be available. No sign up necessary.</span>

  <br><br><a href="http://www.churchonthehill.org/events/">link &raquo;</a>
</div>

<div class="day paused">
  <h2>Thursday</h2>
  <time>10:00am - 11:30am</time>
  <div class="level">Open to All</div>
  <div class="price">$20</div>
  <div class="location">Steps on Broadway</div>
  <span class="description">Rooted in a safe, alignment-based, breath-focused, mindful-flow style and are appropriate for anybody interested in cultivating sustainable pathways of the body and mind. See their website for payment information and class packages.</span>

  <br><br><a href="https://www.stepsnyc.com/faculty/bio/Holly-Ledbetter/">link &raquo;</a>
</div>

<div class="day">
  <h2>Friday</h2>
  <time>1:30pm - 2:45pm</time>
  <div class="level">Open to All</div>
  <div class="price">$9999.99</div>

  <div class="location">Physical Equalibrium</div>
  <span class="description">This 75 minute flow and restore class is open to all! Join me after your workday to unwind and rejuvenate. Please see the Physical Equilibrium website for payment details.</span>

  <br><br><a href="https://clients.mindbodyonline.com/classic/mainclass?studioid=18003">link &raquo;</a>
</div>
