:host {
  //top: 0;
  //right: 0;
  width: 100%;
  min-height: 100vh;
  //position: absolute;
  z-index: 1000;
  padding: 80px;
  //display: flex;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.circle {
  max-width: 250px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(245, 240, 238);
  box-shadow: 0 10px 20px -9px rgba(black, 0.334);
  transition: 120ms ease-in-out;
  cursor: pointer;
  float: left;

  // &:after {
  //   width: 170px;
  //   height: 170px;
  //   border: 1px solid black;
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  // }

  img {
    width: 105%;
    border-radius: 5px 0 5px 0;
    //box-shadow: 0 10px 20px -9px rgba(black, 0.25);
    border: 0;
    outline: 0;
  }
}

article {
  //background: rgb(245, 242, 235);
  padding: 100px 50px 50px;
  //max-width: 500px;
  margin: 0 auto 50px;
  //box-shadow: 0 0 34px rgba(black, 0.067);
  border-radius: 5px;
  //border: 3px solid rgba(black, 0.05);
  background: rgb(253, 248, 246);
  box-shadow: 0 10px 20px -9px rgba(black, 0.25);
  transition: 120ms ease-in-out;
  //cursor: pointer;
  border-top: 1px solid rgba(#000, 0.067);
}

p {
  margin-bottom: 30px;
}
