<article class="bio">
  <div class="circle">  <img src="/assets/holly.jpg" alt="" class="headshot"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae in unde aperiam asperiores ullam magnam, voluptatibus, quod sed aliquam deserunt eveniet! Illo nisi quae quisquam ab distinctio, iusto veritatis unde, ratione repellendus, nemo, dolor facere vitae cum. Quos omnis est vitae odit ullam eveniet eaque ea iure suscipit, laboriosam odio error dolore voluptates obcaecati veniam accusantium, quas repellat voluptatibus nostrum natus dolor sit ad. Totam ullam obcaecati sequi sint.</p>
</article>
