<!-- <video playsinline autoplay muted loop poster="/assets/holly.jpg">
    <source src="https://media.giphy.com/media/CQDmX4bCoJTNK/giphy.mp4" type="video/mp4">
</video> -->

<div class="testimonial">
  <h2>After a single class with Holly, I was shocked by the healing powers that this practice bestows. I have been encouraged by her calm assurance, passion and compassion. Yoga is changing my life for the better. I have Holly to thank for that.</h2>
  <!-- <span class="source">Laurie</span> -->
</div>

<img src="/assets/h1.jpg">
<img src="/assets/h2.jpg">
