@import '~scss/typography';

:host {
  max-width: 800px;
  margin: 20px auto -70px;
  display: block;
  //overflow: hidden;
  text-align: center;
}

.testimonial {
  @include testimonial;
  max-width: 740px;
  margin: 30px auto;
  margin-bottom: 60px;
}

video {
  width: 100%;
  opacity: 0.3334;
  pointer-events: none;
}

.home-imgs {
  @media screen and (min-width: 640px) {
    box-shadow:
      0 0 20px 0 rgba(#000, 0.05),
      0 10px 20px -10px rgba(#000, 0.15);
    display: flex;
  }
}

img {
  display: block;
  align-self: center;
  border-radius: 3px;
  margin: 20px auto 20px;
  max-width: 300px;
  box-shadow:
    0 0 20px 0 rgba(#000, 0.05),
    0 10px 20px -10px rgba(#000, 0.15);

  @media screen and (min-width: 640px) {
    margin: 0;
    box-shadow: none;
    width: 50%;
    max-width: 400px;

    &:nth-child(1) {
      border-radius: 3px 0 0 3px;
    }
    &:nth-child(2) {
      border-radius: 0 3px 3px 0;
    }
  }
}
