@import '~scss/typography';

:host {
  width: 800px;
  margin: 20px auto -70px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.testimonial {
  @include testimonial;
  max-width: 700px;
  margin: 30px auto;
  margin-bottom: 60px;
}

video {
  width: 100%;
  opacity: 0.3334;
  pointer-events: none;
}

img {
  max-width: 400px;
  float: left;
  margin: auto;
}
