@import '~scss/typography';

.testimonial {
  @include testimonial;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 0;
}


:host {
  //max-width: 720px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.books {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @media screen and (min-width: 640px) {
    padding: 50px;
  }
}

.book {
  width: calc(50% - 30px);
  //padding: 30px;
  font-weight: 700;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 0;
  max-width: 220px;
  max-height: 330px;
  background: transparent;
  transition: 120ms ease-in-out;
  cursor: pointer;
  position: relative;

  @media screen and (min-width: 640px) {
    width: auto;
    margin: 30px;
  }

  img {
    transform: scale(1.0167);
    box-shadow: 0 15px 30px -12px rgba(black, 0.33);

    + span {
      display: none;
    }
  }

  &:hover {
    transform: scale(1.0334) rotate(0.67deg);
  }

  img {
    //position: absolute;
    width: 100%;
    //top: 0;
    //left: 0;
    border-radius: 5px;
  }
}
