<div class="testimonial">
  <h2>A wonderful young lady with grace and passion in every movement. Her love and understanding of Yoga makes it easy and rewarding for us to learn and practice.</h2>
  <span class="source">Gabriela</span>
</div>

<div class="books">
  <div class="book">
    <img src="/assets/lightonyoga.png">
    <span>Light on Yoga by B.K.S. Iyengar</span>
  </div>

  <div class="book">
    <img src="/assets/deathanddying.jpg">
    <span>On Death and Dying by Elisabeth Kubler-Ross</span>
  </div>

  <div class="book">
    <img src="/assets/iyengarway.jpg">
    <span>Yoga The Iyengar Way by Silva, Mira and Shyametha</span>
  </div>

  <div class="book">
    <img src="/assets/radicalacceptance.png">
    <span>Radical Acceptance by Tara Brach, Ph.D.</span>
  </div>

  <div class="book">
    <img src="/assets/whenthingsfallapart.png">
    <span>When Things Fall Apart, Heart Advice for Difficult Times by Pema Chodron</span>
  </div>

  <div class="book">
    <img src="/assets/lightonlife.png">
    <span>Light on Life B.K.S. Iyengar</span>
  </div>

  <div class="book">
    <img src="/assets/thebodykeepsscore.png">
    <span>The Body Keeps he Score, Brain, Mind, and Body in the Healing of Trauma by Bessel Van Der Kolk, M..D.</span>
  </div>

  <div class="book">
    <img src="/assets/thewisdomofnoescape.png">
    <span>The Wisdom of No Escape by Pema Chodron</span>
  </div>

  <div class="book">
    <img src="/assets/yogaanatomy.jpg">
    <span>Yoga Anatomy by Kaminoff and Matthews</span>
  </div>

</div>
