*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  background: transparent;
}

html {
  box-sizing: border-box;
  background: linear-gradient(290deg, rgb(255, 255, 255), rgb(233, 233, 233));
  min-height: 100vh;
  font:
    1.25em/1.68
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  color: rgb(38, 38, 38);
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@at-root {
  @-ms-viewport { width: device-width; }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

abbr[title] {
  cursor: help;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}


// html {font-size: 1.25em;}
// body {line-height: 1.45;}
// p {margin-bottom: 1.3em;}
// h1, h2, h3, h4 {
//   margin: 1.414em 0 0.5em;
//   font-weight: inherit;
//   line-height: 1.2;
// }
// h1 {font-size: 6.854em;}
// h2 {font-size: 4.236em;}
// h3 {font-size: 2.618em;}
// h4 {font-size: 1.618em;}
// small, .font_small {font-size: 0.618em;}
