:host {
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  padding: 0px;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;

  @media screen and (min-width: 640px) {
    padding: 0 50px 50px;
  }

}

header {
  max-width: 100%;

  @media screen and (min-width: 640px) {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}

img {
  display: block;
  max-width: 350px;
  margin: 0 auto -80px;
  box-shadow:
    0 0 20px 0 rgba(#000, 0.05),
    0 10px 20px -10px rgba(#000, 0.15);
  border-radius: 3px;

  @media screen and (min-width: 640px) {
    max-width: 350px;
    float: left;
    align-self: center;
    margin: 0 auto 0;
    transform: translate(30px, 30px);
  }
}

h2 {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  max-width: 90%;
  line-height: 1.5;
  font-weight: 700;
  z-index: 100;
  position: relative;
  color: #000;
  text-shadow: 0 0 6px rgba(#FFF, 0.1);
  background: white;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow:
    0 0 20px 0 rgba(#000, 0.05),
    0 10px 20px -10px rgba(#000, 0.15);

  @media screen and (min-width: 640px) {
    max-width: 530px;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.67;
  font-weight: 400;
  padding: 30px 30px 0;
  margin-bottom: 0;
  color: #000;
}
