<p>A private practice can begin or continue your connection to your mind and body. It is a radical gift for your full self. You can treat this as an opportunity to work with an injury, deepen your practice, or simply give yourself the necessary space for self-care.</p>

<div>
  <h2>Payment Details</h2>
  <span>$150/hr</span><br>
  <span>$700 5 class package</span><br>
  <span>$1250 10 class package</span><br>
  <br><br>
  <span>Yoga is a practice for all. Please inquire about need-based sliding scale options!</span>
</div>
